@model CayCanhOnline.Models.DONDATHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">CHI TIẾT ĐƠN HÀNG</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã đơn hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDonHang)
        </dd>

        <dt>
            Tên khách hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.HoTen)
        </dd>

        <dt>
            Tình trạng thanh toán:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaThanhToan)
        </dd>

        <dt>
            Tình trạng giao hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangGiaoHang)
        </dd>

        <dt>
            Ngày đặt:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            Ngày giao:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGiao)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaDonHang }) |
    @Html.ActionLink("Back to List", "Index")
</p>
